<section id="location-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
                    <h2> Find More </h2>
                    <hr class="sub-hr" />
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 text-center">
                    <h3><a href="http://www.claude9493.com">www.claude9493.com</a></h3>
                </div>
            </div>

        </div>
    </section>