<div id="home-sec">
    <div class="overlay">
        <div class="container">
            <div class="col-md-8 pad-top scrollclass">

                <h1>
                    <strong> Zhang Yun, Claude 's gallery</strong>
                </h1>

                <p class="home-p">
                    Here are some photos shooted by me.
                </p>

                <a class="btn btn-primary btn-lg btn-home" href="#gallery-sec">Enjoy! &nbsp; <i class="fa fa-toggle-on"></i></a>
            </div>
            <!--<div class="col-md-4 img-home-side ">
                <img src="assets/img/portfolio/2.jpg" class="img-responsive" />
            </div> -->
        </div>
    </div>

</div>
<!--END HOME SECTION-->
