<div class="container">
<div id="port-folio">

{% for img in images %}

<div class="col-md-4 col-sm-4">
<div class="portfolio-item BOOTSTRAP mix_all" data-cat="BOOTSTRAP">
<a class="preview" href="assets/img/portfolio/{{img}}.jpg">
<img src="assets/img/portfolio/{{img}}.jpg" class="img-responsive " alt="" />
</a>
</div>
</div>

{% endfor %}
</div>
</div>